.user-grid {
    grid-template-columns: 60px 200px 180px 100px 100px 150px;

    @screen sm {
        grid-template-columns: 60px 230px 200px 100px 100px 150px;
    }

    @screen md {
        grid-template-columns: 60px 320px 200px 100px 100px 150px;
    }

    @screen lg {
        grid-template-columns: 60px 370px 200px 100px 100px 150px;
    }
}